<head>
  <meta charset="utf-8">
  
  <!-- Mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- x-default -->
  {{- if .IsTranslated -}}
    {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
    {{- end -}}
    {{ range first 1 .AllTranslations }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
    {{- end -}}
  {{ end }}

  <!-- Title -->
  <title>{{ with .Params.head_title | markdownify }}{{ . }}{{ else }}{{ .Params.title | markdownify }}{{ end }}</title>
  
  <!-- Description -->
  <meta name="description" content="{{ with .Params.head_description | markdownify }}{{ . }}{{ else }}{{ with .Params.description | markdownify }}{{ . }}{{ end }}{{ end }}">
  {{ with site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}
  
  <!-- opengraph & twitter -->
  {{ with .Params.image }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}"/>
  {{ else }}
  {{ with site.Params.image }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}"/>
  {{ end }}
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  
  {{ if not (in .Site.BaseURL "products-qa") }}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4D44QW');</script>
  <!-- End Google Tag Manager -->
  {{ end }}
  {{ if in .Site.BaseURL "products-qa" }}
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  {{ end }}
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/flagsprite.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  {{ $styles := slice (resources.Get "scss/style.scss") (resources.Get "scss/custom.scss") | resources.Concat "scss/bundled.scss" | toCSS | minify -}}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ `https://cms.admin.containerize.com/templates/conholdate/favicon.ico` | relURL }}">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ `https://cms.admin.containerize.com/templates/conholdate/favicon.ico` | relURL }}">

  {{ $menu := ""}}
  {{ if eq .Site.LanguageCode "fr" }}
    {{ $menu = site.Params.menu.fr}}
  {{ else if eq .Site.LanguageCode "zh" }}
    {{ $menu = site.Params.menu.zh}}
  {{ else }}
    {{ $menu = site.Params.menu.en}}
  {{ end }}
  <script>(function(i, s, o, g, r, a, m) {i['ContainerizeMenuObject'] = r; i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a)})(window, document, 'script', 'https://menu.containerize.com/scripts/engine.min.js?v=1.0.1', '{{$menu}}');</script>

  {{ if .Page.IsTranslated }}
  {{- partial "langswitcher.html" . -}}

  <script defer>
    const observer = new MutationObserver((mutations, obs) => {
        const parent = document.getElementById('DynabicMenuUserControls');
        if (parent) {
            const child = document.getElementById('locale');
            parent.prepend(child);
            child.setAttribute("id", "localswitch");
            child.setAttribute('style', 'visibility:visible'); 
            obs.disconnect();
            return;
        }
    });

    observer.observe(document, {
        childList: true,
        subtree: true
    });
  </script>
  {{ end }}
</head>
