{{ $other_languages := slice "fr" "de" "zh" "ru" }}

{{ $dot := . }}
{{ $dot.Scratch.Set "path" "" }}
{{ $dot.Scratch.Set "breadcrumb" slice }}
{{ $url := .RelPermalink }}
{{ $index := 0 }}
  {{ range $element := split $url "/" }}
	
    {{ $dot.Scratch.Add "path" $element }}
    {{ $.Scratch.Add "path" "/" }}
    {{ if and (ne $element "") (not (in $other_languages $element) ) }}
		{{ $index = (add $index 1) }}	
    	{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" $index )) }}

  {{ end }}
{{ end }}
{{ if not ($.Page.IsHome)}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": "{{ .url | absURL }}",
          "name": "{{ if eq .name "net" }}.NET{{ else }}{{ title .name }}{{ end }}"
        }
    }{{ end }}]
}
</script>
{{ end }} 

<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Article",
    "mainEntityOfPage": {
        "@type": "WebPage"
    },
    "url": {{ .Permalink }},
    "dateCreated": "{{ .PublishDate.Format "2006-01-02" }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02" }}",
    "dateModified": "{{ .Page.Lastmod.Format "2006-01-02" }}",
    "inLanguage": "en-US",
    "isFamilyFriendly": "true",
    "copyrightYear": "{{ .PublishDate.Format "2006" }}",
    "headline": "{{ replace .Page.Params.title "\u0026" "and"  }}",
    "description": "{{ replace .Page.Params.description  "\u0026" "and"  }}",
    "author": {
        "@type": "Organization",
        "name": "Aspose Pty Ltd"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Aspose Pty Ltd",
        "logo": {
        "@type": "ImageObject",
        "url": "https://about.aspose.com/templates/aspose/img/svg/aspose-logo.svg",
        "width": "",
        "height": ""
        }
    }
}
</script> 

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Aspose Pty. Ltd.",
  "url": "https://www.conholdate.com",
  "logo": "https://cms.admin.containerize.com/templates/conholdate/img/svg/conholdate-logo.svg",
  "alternateName": "Aspose",
  "sameAs": [
    "https://www.aspose.com/",
    "https://www.groupdocs.com/",
    "https://www.aspose.cloud/",
    "https://www.groupdocs.cloud/"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+1 903 306 1676",
      "contactType": "sales",
      "areaServed": "US",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+44 141 628 8900",
      "contactType": "sales",
      "areaServed": "GB",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+61 2 8006 6987",
      "contactType": "sales",
      "areaServed": "AU",
      "availableLanguage": "en"
    }
  ]
}
</script>