<a id="submenu" class="anchor" name="submenu"></a>
<section class="submenu">
    <div class="container row-default-padding">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>
                    <img alt="Conholdate.Total for {{ .platform }}" data-src="/images/conholdate_total-for-{{ .platform_tag }}.png" src="/images/conholdate_total-for-{{ .platform_tag }}.png">
                    Conholdate.Total
                    <div><small>for {{ .platform }}</small></div>
                </h4>
            </div>
            
            <div class="col-sm-5 col-md-5">
                <ul class="nav nav-pills mb-hide">
                    <!--<li><a href="#overview">{{ T "overview"}}</a></li>-->
                    <li><a href="#products">{{ T "products"}}</a></li>
                    <li><a href="#features">{{ T "features"}}</a></li>
                    <li><a href="#support">{{ T "support"}}</a></li>
                    <li><a href="https://purchase.conholdate.com/pricing/total/{{ .platform_tag }}">{{ T "pricing"}}</a></li>
                </ul>
            </div>
            
            <div class="col-sm-4 col-md-4 text-center">
                <a href="https://downloads.conholdate.com" class="btn btn-small btn-download animated fadeInUp"><i class="fas fa-arrow-down"></i> {{ T "download"}}</a>
                <a href="https://docs.conholdate.com/{{ .platform_tag }}" class="btn btn-small btn-learn animated fadeInUp"><i class="fas fa-file-alt"></i> {{ T "learn"}}</a>
                <a href="https://purchase.conholdate.com" class="btn btn-small btn-buy animated fadeInUp"><i class="fas fa-shopping-cart"></i> {{ T "buy"}}</a>
            </div>
            
        </div>
    </div>
</section>