{{ define "main" }}

<!-- ############ Calculations ############ -->
{{ $path := .RelPermalink  }}
{{ $family := "" }}
{{ $platform := "" }}
{{ $feature := "" }}
{{ $informat := "" }}
{{ $outformat := "" }}
{{ $slug := "" }}
{{ $platformname := "" }}

{{ $segments := split (trim $path "/") "/" }}
{{ $depth := len $segments }}

{{ if eq .Site.LanguageCode "en"}}
    {{ $family = index ($segments) 0 }}
    {{ $platform = index ($segments) 1 }}
    {{ $feature = index ($segments) 2 }}
    {{ $slug = index ($segments) 3 }}
    {{ if eq $feature "conversion" }}
        {{ $informat = index (split $slug "-to-") 0 }}
        {{ $outformat = index (split $slug "-to-") 1 }} 
    {{ else }}
        {{ $informat = index ($segments) (sub $depth 1) }}
        {{ $slug = $informat }}
    {{ end }}
{{ else }}
    {{ $family = index ($segments) 1 }}
    {{ $platform = index ($segments) 2 }}
    {{ $feature = index ($segments) 3 }}
    {{ $slug = index ($segments) 4 }}
    {{ if eq $feature "conversion" }}
        {{ $informat = index (split $slug "-to-") 0 }}
        {{ $outformat = index (split $slug "-to-") 1 }} 
    {{ else }}
        {{ $informat = index ($segments) (sub $depth 1) }}
        {{ $slug = $informat }}
    {{ end }}
{{ end }}

{{ if eq $platform "net"}}
    {{ $platformname = ".NET" }}
{{ else if eq $platform "java"}}
    {{ $platformname = "Java" }}
{{ end }}

{{ $formats := site.Data.fileformats }}

<!-- ############ HEADER ############ -->
<a id="top" class="anchor" name="top"></a>
<section class="page-title bg-2" style="background: #439cda;background: linear-gradient(90deg,#439cda 0%,#286baf 100%)!important;margin-top: 0;color: #fff;text-align: center;padding-bottom: 45px">  <div class="container">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Title | markdownify }}</h1>
          <p>{{ .Params.description | markdownify }}</p>
          <a href="https://downloads.conholdate.com/{{ $family }}/{{ $platform }}" class="btn btn-main btn-icon animated fadeInUp"><i class="fas fa-arrow-down"></i> {{T "download"}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ############ Content ############ -->
{{ with .Params.content }}
{{ if .enable }}
{{ range .block }}
<section class="steps">
    <div class="container section-default-padding">
        
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2>{{ .title_left | markdownify }}</h2>
                <p class="mt-20">{{ .content_left | markdownify }}</p>
            </div>
            <div class="col-sm-6 col-md-6">
                <h2>{{ .title_right }}</h2>
                <p class="mt-20">{{ .content_right | markdownify }}</p>
            </div>
        </div>
        <div class="row">
            <br/>
            <script src="https://gist.github.com/{{.gisthash}}.js?file={{.gistfile}}"></script>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

<!-- ############ MORE FORMATS ############ -->
{{ $other_in_formats := .Params.other_in_formats }}
{{ $other_out_formats := .Params.other_out_formats }}

{{ with .Params.more_formats }}
{{ if .enable }}
    {{ $verb := dict 
        "annotation" "annotate_files" 
        "viewer" "view_files" 
        "comparison" "compare_files" 
        "signature" "sign_files" 
        "assembly" "assemble_files" 
        "metadata" "inspect_files" 
        "search" "search_files" 
        "watermark" "watermark_files" 
        "editor" "edit_files" 
        "merger" "merge_files" 
        "redaction" "redact_files" 
        "splitter" "split_files"
        "compress" "compress_files"
        "Parser" "parse_files"
        "barcode" "barcode_files" 
    }}

<section class="more-formats">
    <div class="container section-default-padding">
        <div class="row">
            <h2>{{T "popular"}} {{ T $feature }} {{ T "options"}}</h2>
        </div>
        <div class="row formats mt-20">
            {{ if and (ne $other_out_formats "") (ne $other_out_formats nil) }}
                {{ $other_out_formats := (shuffle (split $other_out_formats " ")) }}
                {{ range first 16 $other_out_formats }}
                    {{ $formatdetails := (index $formats .) }}
                    {{ $absURL := ""}}
                    <div class="col-sm-3 col-md-3">
                        <h4>
                        {{ if eq $feature "conversion" }}
                        {{ $absURL = print (strings.TrimSuffix (print $slug "/") $path) "/" (lower $informat) "-to-" (lower .) "/"}}
                        <a href="{{ $absURL | absURL }}">{{ T "convert"}} {{ upper $informat }} {{ T "to"}} {{ upper . }}</a>
                        {{ else }}
                        {{ $absURL = print (strings.TrimSuffix (print $slug "/") $path) ( lower . ) "/"}}
                        <a href="{{ $absURL | absURL }}">{{ T (index $verb $feature) . }}</a>
                        {{ end }}
                        </h4>
                        {{ if ne $formatdetails nil }}<p>({{ (index $formatdetails "name") }})</p>{{ end }}
                    </div>
                {{ end }}
            {{ else if and (ne $other_in_formats "") (ne $other_in_formats nil) }}
            {{ $other_in_formats := (shuffle (split $other_in_formats " ")) }}
            {{ range first 16 $other_in_formats }}
                    {{ $formatdetails := (index $formats .) }}
                    {{ $absURL := ""}}
                    <div class="col-sm-3 col-md-3">
                        <h4>
                        {{ if eq $feature "conversion" }}
                        {{ $absURL = print (strings.TrimSuffix (print $slug "/") $path) "/" (lower . ) "-to-" (lower $outformat ) "/"}}
                        <a href="{{ $absURL | absURL }}">{{ T "convert"}} {{ upper . }} {{ T "to"}} {{ upper $outformat }}</a>
                        {{ else }}
                        {{ $absURL = print (strings.TrimSuffix (print $slug "/") $path) "/" ( lower . ) "/"}}
                        <a href="{{ $absURL | absURL }}">{{ T (index $verb $feature) . }}</a>
                        {{ end }}
                        </h4>
                        {{ if ne $formatdetails nil }}<p>({{ (index $formatdetails "name") }})</p>{{ end }}
                    </div>
                {{ end }}
            
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ ABOUT FORMAT ############ -->
{{ with .Params.about_formats }}
{{ if .enable }}
    {{ $informatdesc := "" }}
    {{ $informatlink := "" }}
    {{ $outformatdesc := "" }}
    {{ $outformatlink := "" }}
    {{ $formatname := "" }}
    {{ $colsize := 12 }}
    {{ if and ($informat) ($outformat) }}
        {{ $colsize = 6 }}
    {{ end }}

    {{ $formats := site.Data.fileformats }}
    {{ range $formats }}
    {{ if eq .format ( upper $informat)  }}
        {{ $informatdesc = .description }}
        {{ $informatlink = .link }}
    {{ end }}
    {{ if $outformat }}
        {{ if eq .format ( upper $outformat)  }}
            {{ $outformatdesc = .description }}
            {{ $outformatlink = .link }}
        {{ end }}
    {{ end }}
    {{ end }}
<section class="about-format bg-white">
    <div class="container section-default-padding bg-gray">
            {{ if $informat }}
            <div class="col-sm-{ $colsize }} col-md-{{ $colsize }}">
                <h2>What is {{ upper $informat }} File Format?</h2>
                <p>{{ $informatdesc | markdownify }}</p>
                <a class="btn-small" href="{{ $informatlink | relURL }}">Read More</a>
            </div>
            {{ end }}
            {{ if $outformat }}
            <div class="col-sm-{ $colsize }} col-md-{{ $colsize }}">
                <h2>What is {{ upper $outformat }} File Format?</h2>
                <p>{{ $outformatdesc | markdownify }}</p>
                <a class="btn-small" href="{{ $outformatlink | relURL }}">Read More</a>
            </div>
            {{ end }}
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ BACK 2 TOP ############ -->
{{ with .Params.back_to_top }}
{{ if .enable }}
{{- partialCached "back2top.html" . -}}
{{ end }}

{{ end }}

{{ end }}